# Virtual environments
venv/
.env/

# Streamlit and cache folders
__pycache__/
*.py[cod]
.cache/
.streamlit/

# Data folders
uploads/
merged/
distributed/
leftover/

# System files
.DS_Store
Thumbs.db
